body {
  text-align: center;
}

.title {
  color: #fff;
  font-size: 50px;
  text-shadow: 5px 5px rgb(0, 0, 0);
}

.card {
  /* margin-top: 20px; */
}

.btn {
  margin-top: 20px;
}

h4 {
  color: #fff;
}

.subTitle {
  color: #fff;
  font-size: 40px;
  margin-top: 50px;
}

.card {
  width: 20%;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 150px;
  /* background-color: #f3f2cf; */
  background-color: #f5fffa;
}

.planetContainer {
  opacity: 0.7;
  float: right;
  width: 45%;
  z-index: 1;
}

.searchedPlanet {
  margin-top: 20px;
  border-bottom: 3px solid black;
}
